header {
    grid-area: header;
    text-align: right;
}


.icon {
    grid-area: icon;
}

.icon img {
    object-fit: contain;
    max-width: 14rem;
    max-height: 14rem;
}


.rotating {
    animation: spin 18s linear infinite;
}

@keyframes spin {
    100% {
        transform:rotate(1turn)
    }
}