body {
  overflow: hidden;
  font-size: 20px;
}

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
    'header header header icon'
    'pad body sidebar sidebar';
  grid-template-columns: 2fr 67vw 1fr 22vw;
  grid-template-rows: 18vh 1fr;
}

main {
  overflow-y: scroll;
  grid-area: body;
  text-align: center;
}

nav {
  grid-area: sidebar;
}

.pad {
  grid-area: pad;
}

.homepage-content {
  max-height: 77vh;
  max-width: 68vw;
}

.homepage-content img {
  object-fit: contain;
  max-height: 75vh;
  max-width: 66vw;
}

.tc {
  text-align: center;
}