body {
  overflow: hidden;
  font-size: 20px;
}

.grid {
  overflow-y: scroll;
}

nav {
  background-color: inherit;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

img {
  object-fit: contain;
}

main img {
  max-height: 98vh;
}

header {
  max-height: 26vh;
  max-width: 100%;
}

@media only screen and (min-width: 30em) {
  .grid {
    grid-template-areas: 
    'header header header'
    'pad body sidebar';
    grid-template-columns: 1fr 67vw 4fr;
    grid-template-rows: 26vh 1fr;
    display: grid;
  }
  
  .main {
    grid-area: body;       
  }

  nav {
    grid-area: sidebar;                                                                     
  }
  
  nav img {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: .3rem;  
  }

  .pad {
    grid-area: pad;
  }
}