header {
    grid-area: header;
    text-align: right;
}

.icon {
    grid-area: icon;
}

.rotating {
    animation: spin 16s linear infinite;
}

@keyframes spin {
    100% {
        transform:rotate(1turn)
    }
}