header {
    grid-area: header;
    padding: 1ch;
}

.not-too-tall {
    max-height: 100%;
}

.tall {
    height: 100%;
}

.icon {
    grid-area: icon;
}

.rotating {
    animation: spin 16s linear infinite;
}

@keyframes spin {
    100% {
        transform:rotate(1turn)
    }
}

.tampon-background {
    fill: white;
}

.tampon-trail {
    fill: red;
}

.tampon-outline {
    fill: black;
}

footer {
    height: 12rem;
    padding: 2rem;
}

footer .tampon {
    height: 100%;
}

.max-w-100 {
    max-width: 100%;
}

.footer-link {
    padding: 2rem;
    height: 100%;
}

.header-link {
    width: 100%;
    flex: 1 1 0;
    margin-right: 1ch;
}

.icon-link {
    flex: .2 1 0;
}


@media screen and (min-width: 480px) {
    header {
        padding: 2ch;
    }

    .header-link {
        margin-right: 2ch;
    }
}

@media screen and (min-width: 900px) {
    header {
        padding: 3ch;
    }

    .header-link {
        margin-right: 3ch;
    }
}