:root {
    --border-width: .25rem;
    --border-color: black;
    --transparent: transparent;

}

.line-bottom {
    border-bottom: var(--border-width) var(--border-color) solid;
}
.line-right {
    border-right: var(--border-width) var(--border-color) solid;
}

.line-top {
    border-top: var(--border-width) var(--border-color) solid;
}

.line-left {
    border-left: var(--border-width) var(--border-color) solid;
}

@media only screen and (max-width: 30em) {
    .line-bottom-small {
        border-bottom: var(--border-width) var(--border-color) solid;
    }

    .line-left-small {
        border-left: var(--border-width) var(--border-color) solid;
    }
}

@media screen and (min-width: 30em) {
    .line-top-large {
        border-top: var(--border-width) var(--border-color) solid;
    }
}

nav a {
    border-left: var(--border-width) var(--transparent) solid;
    border-top: var(--border-width) var(--transparent) solid;
}

nav a:hover, nav a:focus {
    border-left-color: var(--border-color);
    border-top-color: var(--border-color);    
    transition: border-color .05s ease-in-out;
}

a {
    color: inherit;
}