.line-right {
    border-right: .25rem black solid;
}

@media only screen and (min-width: 30em) {
    .line-top-large {
        border-top: .25rem black solid;
    }
}

@media only screen and (max-width: 30em) {
    .line-bottom-small {
        border-bottom: .25rem black solid;
    }

    .line-left-small {
        border-left: .25rem black solid;
    }
}

.line-top {
    border-top: .25rem black solid;
}

.line-bottom {
    border-bottom: .25rem black solid;
}

a {
    color: inherit;
}