.activate {
    max-width: max-content;
}

.sidebar-header {
    writing-mode: vertical-rl;
}

.activate > a {
    max-width: max-content;
}

.activate:hover {
    background-color: lightskyblue;
}

.activate:focus-within {
    background-color: lightskyblue;
}

.tiny-icon {
    max-width: 2rem;
    max-height: 2rem;
}

.space-evenly {
    justify-content: space-evenly;
}