<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ . }}">
    {{ end }}
  </head>
  <body style="background-color:{{.Params.color}};" class="grid">
    {{ block "header" . }}
    {{ end }}
    {{ block "sidebar" . }}
    {{ end }}
    {{ block "main" . }}
    {{ end }}
  </body>
</html>