<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Cartoonist, teacher, graphic deisgher and artist, Carrie Rennolds' drawings are fantastic and pointed.">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}
  </head>
  <body style="background-color:{{.Params.color}};" class="grid pr1 pr2-ns pr3-l">
    {{ block "header" . }}
    {{ end }}
    {{ block "sidebar" . }}
    {{ end }}
    <div class="line-top-large pad"></div>
    <main aria-role="main" class="line-top-large line-right tc line-bottom-small f4 f3-l">
      {{ block "main" . }}
      {{ end }}
    </main>
  </body>
</html>