<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{- partial "head.html" . -}}
  <body style="background-color:{{ .Param "color" }};" class="grid w-100 max-w-100">
    {{ block "header" . }}
    {{ end }}
    {{ block "sidebar" . }}
    {{ end }}
    <div class="line-top-large pad"></div>
    <main role="main" class="line-top-large line-right tc line-bottom-small f4 f2-l">
      {{ block "main" . }}
      {{ end }}
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>