<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ .Param "title" }}</title>
    {{- partial "favicons.html" . -}}
    <meta name="description" content="{{ .Param "description" }}">
    <meta name="keywords" content="{{  .Param "keywords" }}">
    <meta name="author" content="{{  .Param "author" }}">
    {{ template "_internal/opengraph.html" . }}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}
</head>
