{{ define "sidebar" }}
<nav class="flex justify-around pa1 line-bottom line-left-small">
{{ $currentPage := . }}
{{ $basePath := "/images/sidebar/" }}
{{ range .Site.Sections }}
    {{ $title := .Title }}
        <a class="activate w-100 line-bottom line-right ma1 flex justify-center"
            style="background-color:{{.Params.color}};"
            href="{{ .Permalink }}">
            {{ with .Params.menuImage }}
                <picture>
                    <source media="(min-width: 30em)" srcset="{{ print $basePath `sideways/` . }}">
                    <img src="{{ print $basePath `flat/` . }}" alt="{{ $title }}">
                </picture>
            {{ end }}
        </a>
{{ end }}
</nav>
{{ end }}